<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Users Application</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/products">Products</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" routerLink="/users">Users</a>
        </li>
      </ul>
    </div>
  </nav>
  
  <form class="form-horizontal" [formGroup]="userForm">
      <h1 style="text-align: center;">Angular CRUD with a .NET Web API</h1>
      <div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="pwd">User Name:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="txtUserName" formControlName="userName"
            placeholder="Name of User">
        </div>
      </div>
      <br />
      <div class="form-group">
        <label class="control-label col-sm-2" for="pwd">Address :</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="txtUserDescription" formControlName="address"
            placeholder="User Address">
        </div>
      </div>
      <br />
       <div class="form-group">
        <div class="container">
          <div class="row">
            <div class="col-sm">
              <button type="submit" class="btn btn-primary" (click)="PostUser(userForm.value)">Submit</button> 
            </div>
            <div class="col-sm">
              <button type="submit" class="btn btn-primary" (click)="UpdateUser(userForm.value)">Update</button>
            </div>
            <div class="col-sm">
              <button type="submit" class="btn btn-primary" (click)="Clear(userForm.value)">Clear</button>
            </div>
          </div>
        </div>
      <br />
      </div>
      <div>
        <div class="alert alert-success" style="text-align: center;"><b>User List</b></div>
        <div class="table-responsive" style="text-align: center;">
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">User Name</th>
              <th scope="col">Address</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of UserList | async; index as i">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{user.userName}}</td>
              <td>{{user.address}}</td>
              <td><button type="button" class="btn1" matTooltip="Click Edit Button" (click)='UserDetailsToEdit(user.userId)'>Edit</button>
                |
                <button type="button" class="btn1" matTooltip="Click Delete Button" (click)="DeleteUser(user.userId)">Delete</button>
              </td>
            </tr>
          </tbody>
          </table>
        </div>
      </div>
      </div>
    </form>